
// Breakpoints
$breakpoint-extra-large: 1500px; // extra large desktop and above
$breakpoint-large: 1285px; // large desktop and above
$breakpoint-medium: 970px; // narrow desktop and above
$breakpoint-small: 750px; // tablet and above

// Colors
$white: #FFFFFF;
$red: #ed3c33;
$blue: #2a9eca;
$yellow: #fdb84f;
$gray-1: #EFF2F4;
$gray-2: #CCD6DE;
$gray-3: #DDDDDD;
$dark-gray: #333333;
$dark-gray-2: #5a5b5f;
$black: #000000;

$primary: darken($blue, 20%);
$primary-offset: lighten($blue, 10%);
$secondary: $red;
$secondary-offset: lighten($red,10%);
$danger: #D30000;
$danger-offset: #D30000;
$disabled: $gray-2;
$disabled-label: #58586F;
$success-bg: #d4edda;
$success-text: #155724;
$fail-bg: #f8d7da;
$fail-text: #721c24;
$transition: 0.2s ease-in-out all;

// Text
$txt-body: $dark-gray;
$txt-heading: $primary;
$txt-light: $dark-gray-2;
$link: $secondary;
$link-hover: $secondary-offset;
$link-disabled: $dark-gray-2;

// Button
$btn-bg: $primary;
$btn-color: $white;
$btn-bg-focus: $primary-offset;
$btn-color-focus: $white;

// Blur
$menu-blur: 0 7px 10px 0 rgba($black, .1);
$calendar-blur: 0 0 9px 0 rgba($black, .15);

// Background
$bg-body: $gray-1;
$bg-footer: $white;
$bg-dark: $blue;
$bg-sidebar: $white;
$bg-menu: $primary;

// Box Shadows
$shadow: 0 2px 34px 0 rgba(0,0,0,0.1);
$shadow-bottom: 0 2px 34px -34px rgba(0,0,0,0.1);

// Gradients
$gradient-photo: linear-gradient(180deg, rgba(0,22,40,0) 0%, #000000 100%);
$gradient-footer: linear-gradient(0deg, #F7F8F9 0%, #FFFFFF 100%);

// Forms
$input-stroke: $gray-2;
$input-focus: $secondary;
$input-disabled: $gray-1;
$input-disabled-stroke: $gray-1;

//Fonts
$font-heading: 'Stalinist One', cursive;
$font-light: '';
$font-regular: 'Noto Sans', sans-serif;

//Lists
$list-border: $gray-1;
$pagination-border: $gray-2;
$pagination-fill: $primary;